body{
    background-color: #222;
}

#carousel{
    border: 5px solid #555;
    width: 900px;
    height: 700px;
    position: absolute; /* Setează poziționarea absolută */
    top: 50%; /* Aliniază containerul la mijloc pe axa verticală */
    left: 50%; /* Aliniază containerul la mijloc pe axa orizontală */
    transform: translate(-50%, -50%);

}
#carouselSlides{
    border: 2px solid white;
    padding: 20px;
    width: 800px;
    height: 600px;
    left: 20px;  
}
.onclick{
    display: flex;
    justify-content: center; 
    align-items: center;
}
button{
    background-color: #555;
    margin: 10px;
    width: 50px;
    height: 30px;
    border: 1px solid transparent;
    border-radius: 30px;
}